spring:
  h2:
    console:
      enabled: true               # H2 웹 콘솔 활성화
      path: /h2-console           # 접속 URL 경로
  datasource:
    url: jdbc:h2:mem:testdb       # 인메모리 DB (기본)
    driver-class-name: org.h2.Driver
    username: sa
    password:
  application:
    name: chat-server
  #config server 임시 차단
  cloud:
    config:
      enabled: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create
  data:
    redis:
      host: localhost
      port: 6379

server:
  port: 18080

jwt:
  secret: "jwt 토큰 인증키"