spring:
  h2:
    console:
      enabled: true               # H2 웹 콘솔 활성화
      path: /h2-console           # 접속 URL 경로
  datasource:
    url: ${DB_URL}      # 인메모리 DB (기본)
    driver-class-name: org.postgresql.Driver
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
  application:
    name: chat-server
  #config server 임시 차단
  cloud:
    config:
      enabled: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: none
#  data:
#    redis:
#      host: 34.50.7.8
#      port: 6379
  main:
    allow-bean-definition-overriding: true
  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration
    url: ${DB_URL}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}

logging:
  level:
    org.mybatis: DEBUG
    org.apache.ibatis: DEBUG
    org.nextme.chat_server.infrastructure.mybatis.mapper: DEBUG

server:
  port: 18080

jwt:
  secret: ${JWT_SECRET}
  access-token-validity-seconds: 1800
  refresh-token-validity-seconds: 1209600

# MyBatis 설정
mybatis:
  mapper-locations: classpath:mapper/**/*.xml  # XML 위치
  type-aliases-package: org.nextme.chat_server.infrastructure.mybatis.dto  # DTO 패키지
  configuration:
    map-underscore-to-camel-case: true  # snake_case → camelCase 자동 변환
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl  # 로깅
    database-id: PostgreSQL  # 또는 PostgreSQL

