spring:
  h2:
    console:
      enabled: true               # H2 웹 콘솔 활성화
      path: /h2-console           # 접속 URL 경로
  datasource:
    url: jdbc:h2:mem:testdb       # 인메모리 DB (기본)
    driver-class-name: org.h2.Driver
    username: sa
    password:
  application:
    name: chat-server
  #config server 임시 차단
  cloud:
    config:
      enabled: false
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: create
  data:
    redis:
      host: localhost
      port: 6379
  main:
    allow-bean-definition-overriding: true

server:
  port: 18080

jwt:
  secret: "jwt 토큰 인증키"

# MyBatis 설정
mybatis:
  mapper-locations: classpath:mapper/**/*.xml  # XML 위치
  type-aliases-package: org.nextme.chat_server.infrastructure.persistence.dto  # DTO 패키지
  configuration:
    map-underscore-to-camel-case: true  # snake_case → camelCase 자동 변환
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl  # 로깅
    database-id: H2  # 또는 PostgreSQL

