<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.nextme.chat_server.infrastructure.mybatis.mapper.ChatRoomQueryMapper">

    <!-- ResultMap 정의 -->
    <resultMap id="ChatRoomWithLastMessageMap"
               type="org.nextme.chat_server.infrastructure.mybatis.dto.ChatRoomWithLastMessageDto">
    </resultMap>

    <!-- 특정 타입 방 조회 -->
    <select id="findRoomsByTypeWithLastMessage"
            resultMap="ChatRoomWithLastMessageMap">
        SELECT
            r.chat_room_id AS chat_room_id,
            r.title AS title,
            r.room_type AS room_type,
            m.content AS last_message
        FROM p_chat_room r
                 LEFT JOIN p_chat_message m
                           ON r.last_message_id = m.chat_message_id
        WHERE r.room_type = #{roomType}
          AND r.deleted_at IS NULL
        ORDER BY r.updated_at DESC
    </select>

    <!-- 특정 타입의 채팅방, 사용자가 속한 채팅방 목록 조회 -->
    <select id="findRoomsByTypeAndUserWithLastMessage"
            resultMap="ChatRoomWithLastMessageMap">
        SELECT rm.chat_room_id AS chat_room_id,
               rm.title        AS title,
               rm.room_type    AS room_type,
               rm.last_message AS last_message
        FROM (SELECT r.chat_room_id   AS chat_room_id,
                     r.title     AS title,
                     r.room_type AS room_type,
                     m.content   AS last_message,
                     r.updated_at
              FROM p_chat_room r
                       LEFT JOIN p_chat_message m
                                 ON r.last_message_id = m.chat_message_id
              WHERE r.deleted_at IS NULL
                <choose>
                    <when test="roomType.name() == 'DIRECT'">
                        AND r.room_type IN ('DIRECT','ADVICE')
                    </when>
                    <otherwise>
                        AND r.room_type = #{roomType}
                    </otherwise>
                </choose>
              ) rm
                 INNER JOIN p_chat_room_member mem
                            ON rm.chat_room_id = mem.chat_room_id
        WHERE mem.user_id = #{userId}
          AND mem.status = 'JOINED'
        ORDER BY rm.updated_at DESC
    </select>

    <!-- 사용자가 속한 방 조회 -->
    <select id="findUserRoomsWithLastMessage"
            resultMap="ChatRoomWithLastMessageMap">
        SELECT
            r.chat_room_id AS chat_room_id,
            r.title AS title,
            r.room_type AS room_type,
            m.content AS last_message
        FROM p_chat_room r
                 INNER JOIN p_chat_room_member mem
                            ON r.chat_room_id = mem.chat_room_id
                 LEFT JOIN p_chat_message msg
                           ON r.last_message_id = msg.chat_message_id
        WHERE mem.user_id = #{userId}
          AND mem.status = 'JOINED'
          AND r.updated_at IS NULL
        ORDER BY r.update_at DESC
    </select>

</mapper>